body{
    background-image: url("Paper.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin: 0px;}
.Tawa{
    color: gold;
}
.navbar ul{
    list-style-type: none;
    background-color: gray;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    display:flex;
    justify-content: space-around;
}

    .navbar a{
        color: white;
        text-decoration:none;
        padding:15px;
        margin: 0px;
        display:inline-block;
        text-align: center;
    }
    .navbar a:hover{background-color: black;
    border-block-end: ;
    }
    
h1{ color: purple}
h2{color: black;}
#p1{color: black;}